body {
  background-color: black;
  color: var(--secondary-color);
}
h3 {
  font-size: 35px;
  text-align: center;
}
h4 {
  text-align: center;
  background-color: var(--primary-background-color);
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}
li {
  padding: 10px 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}

:root {
  --primary-color: #0d0f1187;
  --secondary-color: rgba(255, 255, 255, 0.775);
  --primary-background-color: rgba(255, 255, 255, 0.431);
  --secondary-background-color: #00000034;
}
@media screen and (min-width: 992px) {
  .navbar .container-fluid,
  .navbar-expand-lg,
  .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    margin-right: 0px;
  }
  .navbar {
    width: 7%;
    height: 100vh;
    border: 1px solid #ffffff;
  }
  .navbar-nav li {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.bg-dark {
  background-color: rgba(247, 247, 247, 0.118) !important;
}
.logo-pic {
  margin-left: 15px;
}
.portfolio-picture {
  border-radius: 60%;
}
.li-display {
  display: none;
}
@media (max-width: 900px) {
  .li-display {
    display: block;
  }
}
