:root {
  --primary-color: #7594c8;
  --secondary-color: rgba(255, 255, 255, 0.775);
  --primary-background-color: rgba(255, 255, 255, 0.431);
  --secondary-background-color: #7593c89e;
}
.bg-dark {
  background-color: var(--secondary-background-color) !important;
}
body {
  font-family: "Amita";
  background-image: url(https://i.pinimg.com/564x/dd/bd/4d/ddbd4df54946f8fe26ac67f310c7ee73.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--primary-color);
}
h3 {
  font-size: 35px;
  text-align: center;
}
h4 {
  text-align: center;
  background-color: var(--primary-background-color);
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}
li {
  padding: 10px 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.box {
  background-color: var(--primary-background-color);
  border-radius: 50px;
  margin: 50px;
  padding: 20px;
}
.first-picture,
.second-picture,
.third-picture,
.forth-picture,
.fifth-picture,
.sixth-picture {
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}

.first-text {
  font-size: 40px;
  text-align: center;
}
.small-box {
  margin: 10px;
  width: 200px;
  padding: 20px 0px;
  background-color: var(--secondary-background-color);
  text-align: center;
  color: var(--secondary-color);
  border-radius: 50px;
  font-size: 40px;
  position: relative;
  left: 10%;
}
:hover.small-box {
  opacity: 0.7;
}

.list {
  font-size: 40px;
  padding-top: 30px;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  border-radius: 50px;
  margin-right: 30px;
}
.social {
  position: relative;
  left: 40px;
  bottom: 15px;
}

.footer {
  margin-bottom: 50px;
}
.footer-first {
  margin-top: 60px;
}
.follow-me {
  border: 1px solid var(--secondary-color);
  padding: 30px;
  margin: 20px;

  text-align: center;
  border-radius: 50px;
}
.first-picture {
  margin-left: 80px;
}
.second-picture {
  position: relative;
  left: 60px;
}
.three-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  margin: 80px;
  padding: 30px;
}
.coding-info {
  font-size: 25px;
}
.project-list {
  list-style: none;
}
.project-text {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.project-image {
  border-radius: 50px;
}
.top-space {
  margin-top: 50px;
  margin-bottom: 60px;
}
.coding-class {
  padding: 20px;
  font-size: 20px;
  line-height: 1.6;
  font-size: 23px;
}
.stories {
  background-color: var(--secondary-background-color);
  max-width: 150px;
  margin: 10px 50px;
  border-radius: 80px;
  position: relative;
  left: 440px;
}
.challenge {
  padding: 40px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
}
.tool-box {
  margin-top: 60px;
}
.third-picture {
  position: relative;
  left: 35px;
}
.where-learn {
  text-align: center;
}
.try-out {
  background-color: var(--secondary-background-color);
  padding: 10px;
  position: relative;
  left: 180px;
  border-radius: 50px;
  margin: 10px;
}
.workshops,
.tools {
  padding: 0px;
  text-align: center;
}
.tools li {
  padding: 20px 0px;
}
.check-out {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}
.footer-img {
  position: relative;
  left: 170px;
  border-radius: 50px;
  margin-bottom: 50px;
}
.forth-picture {
  position: relative;
}
.github {
  position: relative;
  right: 25px;
}

.headers {
  background-color: var(--primary-background-color);
  margin: 30px 0px;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 10px;
}
.description {
  text-align: center;
  padding: 20px;
}
.in-line {
  position: relative;
  left: 60px;
}
@media (max-width: 900px) {
  .first-text {
    font-size: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  body {
    height: 150%;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    margin-bottom: 50px;
  }
  .favorite {
    position: relative;
    right: 10px;
  }
  .follow-back {
    color: var(--secondary-color);
  }
  .footer {
    position: relative;
    left: 15px;
  }
  .stories {
    position: relative;
    left: 25%;
  }
  .footer-img {
    position: relative;
    left: 80px;
    margin-top: 30px;
  }
  .check-out {
    color: var(--secondary-color);
  }
  .package img {
    width: 300px;
  }
  .try-out {
    position: relative;
    left: 25%;
  }
  .coding-class {
    text-align: center;
  }
  .third-picture {
    margin-bottom: 50px;
    position: relative;
    left: 13%;
  }
}
